<!doctype html>
<html lang="en" ng-app="fleeVis">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/leaflet.css">
  <link rel="stylesheet" href="assets/css/leaflet.awesome-markers.css">
  <link rel="stylesheet" href="assets/css/flee-vis.css">
  <title>Flee Vis</title>
</head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Visualization of data extracted from and simulated by the <a href="https://github.com/djgroen/flee-release">Flee agent-based modelling toolkit</a>.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Author Name</a></li>
                <li><a href="#" class="text-white">Contact Information</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fas fa-project-diagram mr-2"></i>
            <strong>Flee Visualization</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main" ng-controller="fleeVisController">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Visualization of refugee movements</h1>
          <p id="wc-container" class="lead text-muted">Conflict: {{ selectedSimulation.name }}</p>
          <div class="input-group mx-auto">
            <select name="selectedSimulation" ng-model="selectedSimulation" class="form-control">
              <option ng-repeat="simulation in availableSimulations" ng-value="{{ simulation }}">{{ simulation.name }}</option>
            </select>
            <div class="input-group-append">
              <button type="button" class="btn btn-primary" ng-click="getData()">
                Load Dataset
              </button>
            </div>
          </div>
        </div>
      </section>


      <div class="py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div id="map" class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">
                    Some text for you!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12 mx-auto d-flex flex-column">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-vis-player" ng-click="beginning()">
                    <i class="fas fa-fast-backward"></i>
                  </button>
                  <button type="button" class="btn btn-secondary btn-vis-player" ng-click="back()">
                    <i class="fas fa-step-backward"></i>
                  </button>
                  <button type="button" class="btn btn-secondary btn-vis-player" ng-click="play()" ng-hide="playing">
                    <i class="fas fa-play"></i>
                  </button>
                  <button type="button" class="btn btn-secondary btn-vis-player" ng-click="stop()" ng-show="playing">
                    <i class="fas fa-pause"></i>
                  </button>
                  <button type="button" class="btn btn-secondary btn-vis-player" ng-click="forward()">
                    <i class="fas fa-step-forward"></i>
                  </button>
                  <button type="button" class="btn btn-secondary btn-vis-player btn-vis-player-end" ng-click="end()">
                    <i class="fas fa-fast-forward"></i>
                  </button>
                </div>
                <div class="input-group flex-grow-1">
                  <div class="input-group-prepend">
                    <div class="input-group-text" id="currentDate">{{ formatDate(currentDate) }}</div>
                  </div>
                  <div class="flex-grow-1 d-flex align-content-center vis-slider-container">
                    <input ng-change="myUpdateData()" ng-model="dataSet.currentStep" type="range" min="0" max="{{ dataSet.endStep }}" value="0" class="flex-grow-1 mx-2" id="timeline"  aria-label="Simulation timeline" aria-describedby="timeline">
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-tachometer-alt"></i>
                    </button>
                    <div class="dropdown-menu">
                      <form class="px-4 py-3">
                        <div class="form-group">
                          <label for="simSpeedInputText">Simulation Speed</label>
                          <input ng-model="simulationSpeed" type="number" max="6" class="form-control" id="simSpeedInputText" placeholder="1.0">
                          <input ng-model="simulationSpeed" type="range" step="0.5" min="0.5" max="15" value="1" class="mt-2 w-100" id="simSpeedInputRange"  aria-label="Current simulation speed" aria-describedby="currentSpeed">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <table class="table table-hover mb-0">
                  <tr>
                    <th>Name</th>
                    <th>Population</th>
                    <th>Refugees</th>
                  </tr>
                  <tr ng-repeat="location in locations" ng-if="!location.camp">
                    <td>{{ location.name }}</td>
                    <td>{{ location.pop }}</td>
                    <td>{{ location.refugees }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <table class="table table-hover mb-0">
                  <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Refugees</th>
                  </tr>
                  <tr ng-repeat="location in locations" ng-if="location.camp">
                    <td>{{ location.name }}</td>
                    <td>{{ location.capacity }}</td>
                    <td class="{{ location.capacity - 50 <= location.refugees ? 'text-danger' : '' }}">{{ location.refugees }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Debug Buttons</h5>
                  <button type="button" class="btn btn-primary" ng-click="advance()">
                    Advance
                  </button>
                  <button type="button" class="btn btn-primary" ng-click="getData()">
                    getData
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Built upon <a href="https://github.com/djgroen/flee-release">Flee - the agent-based modelling toolkit</a>.</p>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/classes.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/leaflet.js"></script>
    <script src="assets/js/heatmap.min.js"></script>
    <script src="assets/js/leaflet-heatmap.js"></script>
    <script src="assets/js/leaflet.awesome-markers.min.js"></script>
    <script src="assets/js/leaflet.polylineoffset.js"></script>
    <script src="assets/js/flee-vis.js"></script>
    <script src="assets/js/controller/flee-vis-controller.js"></script>
  </body>
</html>