<!doctype html>
<html lang="en" ng-app="fleeVis">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/leaflet.css">
  <link rel="stylesheet" href="assets/css/leaflet.awesome-markers.css">
  <link rel="stylesheet" href="assets/css/flee-vis.css">
  <title>Flee Vis</title>
</head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Visualization of data extracted from and simulated by the <a href="https://github.com/djgroen/flee-release">Flee agent-based modelling toolkit</a>.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Source Code</h4>
              <p class="text-muted">View me on <a href="https://github.com/selvex/flee-vis">github</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fas fa-project-diagram mr-2"></i>
            <strong>Flee Visualization</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main" ng-controller="fleeVisController">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Visualization of refugee movements</h1>
          <p ng-show="loadedSimulation.name !== undefined" id="wc-container" class="lead text-muted">Loaded conflict: {{ loadedSimulation.name }}</p>
          <p ng-hide="loadedSimulation.name !== undefined" class="lead text-muted">To start the visualization select a simulation from the dropdown below.</p>
          <div class="input-group mx-auto">
            <select name="selectedSimulation" ng-model="selectedSimulation" class="form-control" title="Available Simulations">
              <option ng-repeat="simulation in availableSimulations" ng-value="{{ simulation }}">{{ simulation.name }}</option>
            </select>
            <div class="input-group-append">
              <button type="button" class="btn btn-primary" ng-click="getData()">
                Load Dataset
              </button>
            </div>
          </div>
        </div>
      </section>


      <div class="py-5 bg-light">
        <div class="container-fluid px-5">
          <div class="row mb-4">
            <div class="col">
              <div class="container-fluid">
                <div class="row">
                  <div class="col">
                    <div id="map" class="card mb-4 box-shadow" ng-style="{height: settings.map.height + 'px'}">
                      <div class="card-body">
                        <p class="card-text">
                          Some text for you!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mx-5">
                  <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-vis-player" ng-click="beginning()">
                          <i class="fas fa-fast-backward"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-vis-player" ng-click="back()">
                          <i class="fas fa-step-backward"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-vis-player" ng-click="play()" ng-hide="playing">
                          <i class="fas fa-play"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-vis-player" ng-click="stop()" ng-show="playing">
                          <i class="fas fa-pause"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-vis-player" ng-click="forward()">
                          <i class="fas fa-step-forward"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-vis-player btn-vis-player-end" ng-click="end()">
                          <i class="fas fa-fast-forward"></i>
                        </button>
                      </div>
                      <div class="input-group flex-grow-1">
                        <div class="input-group-prepend">
                          <div class="input-group-text" id="currentDate">{{ currentDate }}</div>
                        </div>
                        <div class="flex-grow-1 d-flex align-content-center vis-slider-container">
                          <input ng-change="myUpdateData()" ng-model="dataSet.currentStep" type="range" min="0" max="{{ dataSet.endStep }}" value="0" class="flex-grow-1 mx-2" id="timeline"  aria-label="Simulation timeline" aria-describedby="timeline">
                        </div>
                        <div class="input-group-append">
                          <button class="btn btn-secondary" ng-click="toggleSettings()">
                            <i class="fas fa-cog"></i>
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4" ng-if="showSettings">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex">
                    <h5 class="card-title">Settings</h5><button class="ml-auto btn btn-sm btn-link small" style="margin-top:-1em;" ng-click="toggleSettings()">Click here to hide</button>
                  </div>
                  <form class="">
                    <div class="d-flex">
                      <h6>General Settings</h6>
                      <button class="btn btn-sm btn-link small collapse-icon" ng-class="{ 'flip-icon': collapsed.generalSettings }" data-toggle="collapse" data-target="#generalSettings" ng-click="collapsed.generalSettings = !collapsed.generalSettings"><i class="fas fa-chevron-down"></i></button>
                    </div>
                    <div id="generalSettings" class="collapse">
                      <div class="form-group">
                        <label for="mapHeightInput">Map Height</label>
                        <input ng-model="settings.map.height" type="number" max="2160" class="form-control" id="mapHeightInput" placeholder="720" ng-change="updateMap()">
                        <input ng-model="settings.map.height" type="range" step="32" min="200" max="2160" value="720" class="mt-2 w-100" id="mapHeightInputRange"  aria-label="Current map height" aria-describedby="currentMapHeight" ng-change="updateMap()">
                      </div>
                      <div class="form-group">
                        <label for="simSpeedInputText">Simulation Speed</label>
                        <input ng-model="settings.simulationSpeed" type="number" step="0.5" max="15" class="form-control" id="simSpeedInputText" placeholder="1.0" ng-change="updateSimulationSpeed()">
                        <input ng-model="settings.simulationSpeed" type="range" step="0.5" min="0.5" max="15" value="1" class="mt-2 w-100" id="simSpeedInputRange"  aria-label="Current simulation speed" aria-describedby="currentSpeed" ng-change="updateSimulationSpeed()">
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="d-flex">
                        <h6>Heatmap Settings</h6>
                        <button class="btn btn-sm btn-link small collapse-icon" ng-class="{ 'flip-icon': collapsed.heatmapSettings }" data-toggle="collapse" data-target="#heatmapSettings" ng-click="collapsed.heatmapSettings = !collapsed.heatmapSettings"><i class="fas fa-chevron-down"></i></button>
                      </div>
                      <div id="heatmapSettings" class="collapse">
                        <div class="form-group">
                          <label for="heatmapRadiusInput">Radius</label>
                          <input ng-model="settings.heatmap.radius" type="number" max="{{ settings.heatmap.scaleRadius ? 5 : 200 }}" class="form-control" id="heatmapRadiusInput" placeholder="1" ng-change="updateHeatmap()">
                          <input ng-model="settings.heatmap.radius" type="range" step="{{ settings.heatmap.scaleRadius ? 0.1 : 1 }}" min="{{ settings.heatmap.scaleRadius ? 0.1 : 1 }}" max="{{ settings.heatmap.scaleRadius ? 5 : 200 }}" value="1" class="mt-2 w-100" id="heatmapRadiusInputRange"  aria-label="CurrentHeatmapRadius" aria-describedby="CurrentHeatmapRadius" ng-change="updateHeatmap()">
                        </div>
                        <div class="form-group">
                          <label for="heatmapOpacityInput">Opacity</label>
                          <input ng-model="settings.heatmap.maxOpacity" type="number" step="0.1" min="0.1" max="1" class="form-control" id="heatmapOpacityInput" placeholder="0.8" ng-change="updateHeatmap()">
                          <input ng-model="settings.heatmap.maxOpacity" type="range" step="0.1" min="0.1" max="1" value="0.8" class="mt-2 w-100" id="heatmapOpacityInputRange"  aria-label="CurrentHeatmapOpacity" aria-describedby="CurrentHeatmapOpacity" ng-change="updateHeatmap()">
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" ng-model="settings.heatmap.scaleRadius" id="heatmapScaleRadius" ng-change="updateHeatmapScaleRadius()">
                          <label class="form-check-label" for="heatmapScaleRadius">Scale radius</label> <span class="tutorial" data-toggle="tooltip" data-placement="right" data-html="true" title="If the heatmap should change it's radius when zooming in or out. <br><br><strong>ON:</strong> Heatmap always occupies same <em>map space</em>.<br><br><strong>OFF:</strong> Heatmap always occupies same <em>screen space</em>.">(?)</span>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" ng-model="settings.heatmap.useLocalExtrema" id="heatmapUseLocalExtrema" ng-change="updateHeatmap()">
                          <label class="form-check-label" for="heatmapUseLocalExtrema">Use local extrema</label> <span class="tutorial" data-toggle="tooltip" data-placement="right" data-html="true" title="If the heatmap should only take into account what is currently visible on the map. <br><br><strong>ON:</strong> Red spots mark the maximum of the data points <em>currently visible on the map</em>.<br><br><strong>OFF:</strong> Red spots mark the <em>global maximum</em>.">(?)</span>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="d-flex">
                        <h6>Scaling methods</h6> <button class="btn btn-sm btn-link small collapse-icon" ng-class="{ 'flip-icon': collapsed.scalingMethods }" data-toggle="collapse" data-target="#scalingMethods" ng-click="collapsed.scalingMethods = !collapsed.scalingMethods"><i class="fas fa-chevron-up"></i></button>
                      </div>
                      <div id="scalingMethods" class="collapse show">
                        <div class="form-check" ng-repeat="(name, value) in scalingMethods">
                          <input ng-model="settings.scalingMethod" class="form-check-input" type="radio" id="scalingMethod{{ $index }}" value="{{ name }}" ng-change="updateScaleMethod()">
                          <label class="form-check-label" for="scalingMethod{{ $index }}">
                            {{ value.describe() }}
                          </label>
                        </div>
                        <hr ng-if="settings.scalingMethod === 'logisticGrowth'">
                        <div class="form-group" ng-if="settings.scalingMethod === 'logisticGrowth'">
                          <label for="logisticGrowthMidPointDeviation">Mid Point Deviation</label>
                          <input ng-model="settings.logisticGrowth.midPointDeviation" type="number" min="1" max="100" class="form-control" id="logisticGrowthMidPointDeviation" placeholder="1" ng-change="updateScaleMethod()">
                          <input ng-model="settings.logisticGrowth.midPointDeviation" type="range" step="1" min="1" max="255" value="2" class="mt-2 w-100" id="logisticGrowthMidPointDeviationRange" ng-change="updateScaleMethod()">
                        </div>
                      </div>
                      <hr>
                      <div class="form-group" ng-if="settings.scalingMethod === 'logisticGrowth'">
                        <div class="d-flex">
                          <h6>Customize logistic growth function</h6><button class="btn btn-sm btn-link small collapse-icon" ng-class="{ 'flip-icon': collapsed.costumLogistic }" data-toggle="collapse" data-target="#customLogistic" ng-click="collapsed.costumLogistic = !collapsed.costumLogistic"><i class="fas fa-chevron-down"></i></button>
                        </div>
                        <div id="customLogistic" class="collapse">
                          <ul class="nav nav-tabs mb-2" id="logistic-growth-config-tabs" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="logistic-location-tab" data-toggle="tab" href="#logistic-location-config" role="tab" aria-controls="home" aria-selected="true">Locations</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="logistic-link-tab" data-toggle="tab" href="#logistic-link-config" role="tab" aria-controls="profile" aria-selected="false">Links</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="logistic-difference-tab" data-toggle="tab" href="#logistic-difference-config" role="tab" aria-controls="contact" aria-selected="false">Differences</a>
                              </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                              <div class="tab-pane show active" id="logistic-location-config" role="tabpanel" aria-labelledby="location-tab">
                                <label for="logisticGrowthLocationCeiling">Ceiling</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.location.ceiling" type="number" id="logisticGrowthLocationCeiling" ng-change="updateLogistic()">

                                <label for="logisticGrowthLocationMidPoint">Offset</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.location.midPoint" type="number" id="logisticGrowthLocationMidPoint" ng-change="updateLogistic()">

                                <label for="logisticGrowthLocationGrowthRate">Growth Rate</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.location.growthRate" type="number" step="any" id="logisticGrowthLocationGrowthRate" ng-change="updateLogistic()">
                              </div>
                              <div class="tab-pane" id="logistic-link-config" role="tabpanel" aria-labelledby="link-tab">
                                <label for="logisticGrowthLinkCeiling">Ceiling</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.link.ceiling" type="number" id="logisticGrowthLinkCeiling" ng-change="updateLogistic()">

                                <label for="logisticGrowthLinkMidPoint">Offset</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.link.midPoint" type="number" id="logisticGrowthLinkMidPoint" ng-change="updateLogistic()">

                                <label for="logisticGrowthLinkGrowthRate">Growth Rate</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.link.growthRate" type="number" step="any" id="logisticGrowthLinkGrowthRate" ng-change="updateLogistic()">
                              </div>
                              <div class="tab-pane" id="logistic-difference-config" role="tabpanel" aria-labelledby="difference-tab">
                                <label for="logisticGrowthDifferenceCeiling">Ceiling</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.difference.ceiling" type="number" id="logisticGrowthDifferenceCeiling" ng-change="updateLogistic()">

                                <label for="logisticGrowthDifferenceMidPoint">Offset</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.difference.midPoint" type="number" id="logisticGrowthDifferenceMidPoint" ng-change="updateLogistic()">

                                <label for="logisticGrowthDifferenceGrowthRate">Growth Rate</label>
                                <input class="form-control form-control-sm" ng-model="settings.logisticGrowth.internal.difference.growthRate" type="number" step="any" id="logisticGrowthDifferenceGrowthRate" ng-change="updateLogistic()">
                              </div>
                            </div>
                        </div>
                      </div>
                      <hr ng-if="settings.scalingMethod === 'logisticGrowth'">
                    </div>
                  </form>
                  <button class="btn btn-primary" ng-click="toggleSettings()">Hide Settings</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <table class="table table-hover mb-0">
                  <tr>
                    <th>Name</th>
                    <th>Population</th>
                    <th>Refugees</th>
                    <th>Difference</th>
                  </tr>
                  <tr ng-repeat="location in locations" ng-if="!location.camp">
                    <td><a href="#map" ng-click="zoomTo($index)">{{ location.name }}</a></td>
                    <td>{{ location.pop }}</td>
                    <td>{{ location.refugees }}</td>
                    <td ng-class="{ 'text-success': location.difference > 0, 'text-danger': location.difference < 0 }">{{ location.difference }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <table class="table table-hover mb-0">
                  <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Refugees</th>
                    <th>Difference</th>
                  </tr>
                  <tr ng-repeat="location in locations" ng-if="location.camp">
                    <td><a href="#map" ng-click="zoomTo($index)">{{ location.name }}</a></td>
                    <td>{{ location.capacity }}</td>
                    <td class="{{ location.capacity - 50 <= location.refugees ? 'text-danger' : '' }}">{{ location.refugees }}</td>
                    <td ng-class="{ 'text-success': location.difference > 0, 'text-danger': location.difference < 0 }">{{ location.difference }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <!-- style="position: fixed; right: 0; top: 0; z-index: 999;" -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Costumize</h5>
                  <button class="btn btn-primary" ng-click="toggleSettings()">Show/Hide Settings</button>
                  <button class="btn btn-primary" ng-click="dbg()">Debug</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Built upon <a href="https://github.com/djgroen/flee-release">Flee - the agent-based modelling toolkit</a>.</p>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/classes.js"></script>
    <script src="assets/js/logging.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/leaflet.js"></script>
    <script src="assets/js/heatmap.min.js"></script>
    <script src="assets/js/leaflet-heatmap.js"></script>
    <script src="assets/js/leaflet.awesome-markers.min.js"></script>
    <script src="assets/js/leaflet.polylineoffset.js"></script>
    <script src="assets/js/flee-vis.js"></script>
    <script src="assets/js/controller/flee-vis-controller.js"></script>
  </body>
</html>